<div class="main" >
  <div class="menu"></div>
  <div class="content">
    <div class="top-bar">

      <div class="search">
        <mat-icon aria-hidden="false" aria-label="Search">search</mat-icon>
      </div>

      <div class="settings">
        <label (click)="showAddContact = true; selectedContacts = []">+ Add</label>
        <mat-icon aria-hidden="false" aria-label="Mail">mail_outline</mat-icon>

        <mat-form-field>
          <mat-select [(ngModel)]="loggedInContact" (ngModelChange)="message.sender = loggedInContact.id; closeChats()">
            <mat-option *ngFor="let contact of contacts" [value]="contact">
              {{contact.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-icon aria-hidden="false" aria-label="Notification">notifications_none</mat-icon>
      </div>

    </div>
    
    <div class="contacts-content-main">

      <!-- Contacts list -->
      <div class="contacts-content">
        <div class="contacts-main">
          <!-- Head -->
          <div class="contact-head">
            <img class="icon" src="assets/images/notebook-of-contacts.svg"/>
            <div class="text">
              <label class="head">Contacts</label>
              <label class="sub-text">Welcome to FistCRM Contacts page</label>
            </div>
          </div>
          <div class="sortby">
            <label>Sort by:</label>
            <mat-form-field>
              <mat-select [ngModel]="'Date Created'">
                <mat-option *ngFor="let sort of [ 'Date Created', 'Date Updated', 'Name Asc.', 'Name Desc.' ]" [value]="sort">
                  {{sort}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
    
        <!-- Search -->
        <div class="search-contacts">
          <mat-form-field floatLabel=never>
            <input matInput placeholder="Search contacts">
            <mat-icon matSuffix>search</mat-icon>
          </mat-form-field>
          <button mat-raised-button class="add-contact" (click)="openAddContact()">
            + Add Contacts
          </button>
        </div>
  
        <div class="contact-list-head">
          <div class="info">
            <mat-icon aria-hidden="false" aria-label="add">add</mat-icon>
            <label class="basic-info">Basic info</label>
          </div>
          <label class="company">Company</label>
        </div>
    
        <div class="contact-list"> 
          <mat-selection-list #contactslist [(ngModel)]="selectedContacts"
            [disabled]="showAddContact || !!message.receiver">
            <ng-container *ngFor="let contact of contacts">
              <mat-list-option checkboxPosition="before" *ngIf="contact.id !== loggedInContact.id" [value]="contact">
                <div class="basic-info">
                  <div class="initials" [style.background-color]="contact.color">{{contact.initials}}</div>
                  <div class="info">
                    <label class="name">{{contact.name}}</label>
                    <label class="email">{{contact.email}}</label>
                  </div>
                </div>
                <label class="company">{{contact.company}}</label>
              </mat-list-option>
            </ng-container>
          </mat-selection-list>
        </div>
      </div>
  
      <div class="details">
        <div class="user-details" *ngIf="selectedContacts.length === 1">
          <div class="name-role">
            <div class="initials" [style.background-color]="selectedContacts[0].color">{{selectedContacts[0].initials}}</div>
            <label class="name">{{selectedContacts[0].name}}</label>
            <label class="role">{{selectedContacts[0].role}}</label>
          </div>

          <div class="other-details">
            <div class="item">
              <label class="label">Full name:</label>
              <label class="value">{{selectedContacts[0].name}}</label>
            </div>
            <div class="item">
              <label class="label">Email:</label>
              <label class="value">{{selectedContacts[0].email}}</label>
            </div>
            <div class="item">
              <label class="label">Phone:</label>
              <label class="value">{{selectedContacts[0].phone}}</label>
            </div>
            <div class="item">
              <label class="label">Company:</label>
              <label class="value">{{selectedContacts[0].company}}</label>
            </div>
            <div class="item border-none">
              <label class="label">Address:</label>
              <label class="value">{{selectedContacts[0].address}}</label>
            </div>
          </div>

          <div class="options">
            <mat-icon (click)="editContact()">edit</mat-icon>
            <mat-icon (click)="deleteContact()">delete</mat-icon>
            <mat-icon *ngIf="loggedInContact.id !== selectedContacts[0].id" (click)="openChats()">chat</mat-icon>
          </div>
        </div>

        <div class="delete" *ngIf="selectedContacts.length > 1">
          <button mat-flat-button color="warn" (click)="deleteContact()">
            <mat-icon>delete</mat-icon>
            Delete {{selectedContacts.length}} contacts
          </button>
        </div>

        <div class="add-contact" *ngIf="showAddContact">
          <mat-form-field>
            <mat-label>Name</mat-label>
            <input matInput placeholder="Enter full name" [(ngModel)]="contact.name" required>
            <mat-error *ngIf="contact.name.trim() === ''">You must enter the full name</mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput placeholder="Enter email" [(ngModel)]="contact.email" required>
            <mat-error *ngIf="contact.email.trim() === ''">You must enter the email</mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Phone</mat-label>
            <input matInput placeholder="Enter phone number" [(ngModel)]="contact.phone" required>
            <mat-error *ngIf="contact.phone.trim() === ''">You must enter the phone number</mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Company</mat-label>
            <input matInput placeholder="Enter company name" [(ngModel)]="contact.company" required>
            <mat-error *ngIf="contact.company.trim() === ''">You must enter the company name</mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Role</mat-label>
            <input matInput placeholder="Enter role" [(ngModel)]="contact.role" required>
            <mat-error *ngIf="contact.role.trim() === ''">You must enter the role</mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Address</mat-label>
            <input matInput placeholder="Enter full address" [(ngModel)]="contact.address" required>
            <mat-error *ngIf="contact.address.trim() === ''">You must enter the address</mat-error>
          </mat-form-field>
          <div class="actions">
            <button mat-stroked-button color="warn" (click)="showAddContact = false">Cancel</button>
            <button mat-raised-button class="add-contact-button" [disabled]="!isValid()" (click)="addContact()">
              {{ isEdit ? 'Update' : 'Add'}} contact
            </button>
          </div>
        </div>

        <div class="chats-main" *ngIf="message.receiver">
          <div class="header">
            <label>{{getReceiverName()}}</label>
            <mat-icon (click)="closeChats()">close</mat-icon>
          </div>
          <div #chats class="chats">
            <label *ngFor="let message of getMessages()" [ngClass]="{ 'self': message.sender === loggedInContact.id, 'other': message.sender !== loggedInContact.id }">
              {{message.message}}
            </label>
          </div>
          <div class="message-input">
            <input matInput placeholder="Type your message." [(ngModel)]="message.message" (keyup.enter)="sendMessage()"/>
            <button mat-mini-fab (click)="sendMessage()">
              <mat-icon>send</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>