
.main {
  display: flex;

  .menu {
    width: 50px;
    height: 100vh;
    top: 0;
    position: sticky;
    z-index: 2;
    background: linear-gradient(180deg, rgba(255,137,101,1) 0%, rgba(254,101,165,1) 100%);
  }

  .content {
    background-color: white;
    width: 100%;

    .top-bar {
      background-color: white;
      height: 50px;
      box-shadow: 0px 0px 4px 0px #7a6976;
      display: flex;
      justify-content: space-between;
      align-items: center;
      top: 0;
      position: sticky;
      z-index: 1;

      .search {
        background-color: #eae8e9;
        height: 34px;
        width: 34px;
        border-radius: 50%;
        margin-left: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .settings {
        display: flex;
        align-items: center;

        label, mat-icon {
          padding: 0px 12px;
        }

        ::ng-deep .mat-form-field-wrapper {
          padding-bottom: 14px !important;
        }

        ::ng-deep .mat-form-field-underline {
          display: none;
        }
      }
    }

    .contacts-content-main {
      display: flex;

      .contacts-content {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 48px auto;

        .contacts-main {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-around;
          margin-bottom: 24px;
    
          .contact-head {
            display: flex;

            .icon {
              width: 36px;
            }
    
            .text {
              display: flex;
              flex-direction: column;
              margin-left: 16px;

              .head {
                font-size: 18px;
                font-weight: bold;
              }

              .sub-text {
                font-size: 12px;
              }
            }
          }
    
          .sortby {
            display: flex;
            align-items: center;

            label {
              margin-right: 8px;
            }

            ::ng-deep .mat-form-field-wrapper {
              padding-bottom: 14px !important;
            }

            ::ng-deep .mat-form-field-underline {
              display: none;
            }
          }
        }

        .search-contacts {
          display: flex;
          margin-bottom: 24px;
    
          ::ng-deep .mat-form-field-wrapper {
            background: #eae8e9;
            margin-right: 25px;
            border-radius: 24px;
            padding: 0px 16px;

            .mat-form-field-flex {
              align-items: center;
              height: 46px;

              .mat-form-field-infix {
                border-top: 0;
              }
            }
          }

          ::ng-deep .mat-form-field-underline {
            display: none;
          }

          .add-contact {
            background: linear-gradient(90deg, rgba(255,137,101,1) 0%, rgba(254,101,165,1) 100%);
            color: white;
          }
        }

        .contact-list-head {
          width: 450px;
          height: 50px;
          padding: 0px 16px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          background-color: #eae8e9;
          border-radius: 4px;

          .info {
            margin-left: 10px;
            display: flex;
            align-items: center;

            .basic-info {
              margin-left: 24px;
            }
          }

          .company {
            padding-right: 16px;
          }
        }
    
        .contact-list {
          width: 450px;

          mat-list-option {
            height: 64px;
          }

          ::ng-deep .mat-list-text {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            .basic-info {
              display: flex;
              margin-left: 18px;

              .initials {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                color: white;
              }
  
              .info {
                display: flex;
                flex-direction: column;
                margin-left: 16px;

                .name {
                  font-size: 18px;
                  font-weight: bold;
                }

                .email {
                  font-size: 12px;
                  color: grey;
                }
              }

            }

            .company {
              font-weight: bold;
            }

          }
        }
      }

      .details {
        flex: 1;

        .user-details {
          margin: 48px 100px 64px 0px;
          background-color: #eae8e9;
          border-radius: 4px;
          position: sticky;
          top: 98px;

          .name-role {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 24px;

            .initials {
              width: 100px;
              height: 100px;
              margin-bottom: 12px;
              border-radius: 50%;
              display: flex;
              align-items: center;
              justify-content: center;
              color: white;
              font-size: 36px;
            }

            .name {
              font-size: 18px;
              font-weight: bold;
              margin-bottom: 4px;
            }

            .role {
              font-size: 12px;
              color: grey;
            }
          }

          .other-details {
            padding-bottom: 24px;

            .item {
              height: 50px;
              display: flex;
              align-items: center;
              margin: 0px 32px;
              border-bottom: 1px solid #3333;

              &.border-none {
                border-bottom: 0px;
              }

              .label {
                width: 140px;
                color: gray;
              }
            }
          }

          .options {
            padding-bottom: 64px;
            display: flex;
            align-items: center;
            justify-content: space-evenly;

            mat-icon {
              font-size: 36px;
              cursor: pointer;
            }
          }
        }

        .delete {
          margin: 207px 100px 64px 0px;
          padding: 24px;
          background-color: #eae8e9;
          border-radius: 4px;
          position: sticky;
          top: 98px;

          button {
            padding: 8px 18px;
          }

          mat-icon {
            width: 24px;
            height: 24px;
            font-size: 24px;
            margin-right: 4px;
          }
        }

        .add-contact {
          margin: 48px 100px 64px 0px;
          padding: 24px;
          box-shadow: 0px 0px 4px 0px #7a6976;
          border-radius: 4px;
          position: sticky;
          top: 98px;
          display: flex;
          flex-direction: column;

          mat-form-field {
            margin-top: 12px;
          }

          .actions {
            display: flex;
            justify-content: flex-end;

            .add-contact-button {
              margin-left: 16px;
              background: linear-gradient(90deg, rgba(255,137,101,1) 0%, rgba(254,101,165,1) 100%);
              color: white;
            }
          }
        }

        .chats-main {
          height: 100%;
          max-height: 80vh;
          margin: 48px 100px 64px 0px;
          box-shadow: 0px 0px 4px 0px #7a6976;
          border-radius: 4px;
          position: sticky;
          top: 98px;
          padding-bottom: 12px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          .header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 24px;
            background: linear-gradient(90deg, rgba(255,137,101,1) 0%, rgba(254,101,165,1) 100%);

            label {
              font-size: 18px;
              color: white;
            }

            mat-icon {
              align-self: flex-end;
              color: white;
              cursor: pointer;
            }
          }

          .chats {
            height: 100%;
            overflow-y: auto;
            display: flex;
            flex-direction: column;
            padding: 24px;

            label {
              margin-top: 12px;
              max-width: 318px;
              min-width: 180px;
              padding: 12px;
            }

            .self {
              border-radius: 26px 0 26px 26px;
              background: linear-gradient(90deg, rgba(255,137,101,1) 0%, rgba(254,101,165,1) 100%);
              color: white;
              align-self: flex-end;
            }

            .other {
              border-radius: 0 26px 26px 26px;
              color: black;
              border: 1px solid black;
              align-self: flex-start;
            }
          }

          .message-input {
            display: flex;
            margin: 24px;
            padding: 12px;
            border: 1px solid #cdcdcd;
            border-radius: 38px;

            input {
              margin: 0px 16px;
            }

            button {
              background: linear-gradient(90deg, rgba(255,137,101,1) 0%, rgba(254,101,165,1) 100%);

              mat-icon {
                font-size: 18px;
                width: 18px;
                height: 18px;
              }
            }

          }
        }
      }
    }
  }
}
